*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #cae9ff;
        ;
}
main{
    min-height: 40vw;
}
header{
    background-color: #1b4965;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 10vw;
}
nav>a{
    text-decoration: none;
    color: #20a4f3;
    font-size: 1.8vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: .5vw;
}
nav>a:hover{
    color: #bbdefb;
}
.activ{
    color:#bbdefb;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    color: white;
    font-size: 1.5vw;
    background-color: #1b4965;
    padding: 1vw;
}
/*Pag1*/
h1{
    color: #0d47a1;
    font-family: fantasy;
    font-size: 3vw;
    text-align: center;
    padding-top: 2vw;
}
.home{
    color: grey;
    font-family: fantasy;
    font-size: 2vw;
    text-align: center;
}
.img1{
    width: 100%;
    padding-top: 2vw;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion2{
    display: flex;
    padding-top: 2vw;
    width: 75%;
    gap: 2vw;
}
.seccion2 p{
    display: flex;
    color: grey;
    font-size: 2vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.seccion2 img{
    width: 50vw;
}

/* PAGE 2 */

.sec2{
    display: flex;
    padding-top: 2vw;
    justify-content: center;
    justify-content: center;
    align-items: center;
}
.sec2 img{
    width: 30vw;
}
.sec2 p{
    color: grey;
    font-size: 1.5vw;
    width: 30vw;
    padding-left: 2vw;
}

/* PAGE 3 */

.p3{
    text-align: center;
    padding-top: 3rem;
}
.p3>img{
    width: 50vw;
}
.p3>p{
    color: gray;
    font-size: 2.5vw;
    padding: 2vw;
}
.info{
    display: flex;
    font-size: 1.5vw;
    justify-content: center;
    gap: 15vw;
}
.info>a{
    text-decoration: none;
    color: gray;
}
.info>a:hover{
        color:rgb(187, 0, 255);
}

/* PAGE 4 */

.pag4{
    display: flex;
    justify-content: center;
    padding: 5vw;
}
table, th, td{
    border-collapse: collapse;
    border: 0.2vw solid #1b4965;
    width: 50vw;
    background-color: #90caf9;
    text-align: center;
    font-size: 1.5vw;
    padding: 1vw;
}

/* PAGE 5 */

.pag5{
    display: flex;
    padding-top: 2vw;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.pag5i{
    width: 40vw;
    display: flex;
    flex-direction: row;
    padding-top: 3vw;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    color: gray;
    font-size: 1.5vw;
    list-style-position: inside;
    padding-left: 2vw;
}
.list{
    list-style-type: decimal;
    padding-top: 10vw;
    padding-left: 2vw;
}
li{
    list-style-type: disc;
}
/*PAGE 6*/

.pag6{
    display: flex;
    gap: 3vw;
    padding-top: 3vw;
    justify-content: center;
    align-items: center;
}
.map{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.form{
    display: flex;
    flex-direction: column;
}
.send{
    width: 3vw;
}
.fname,.lname,.email,.country,.date,.message,.payment{
    display: flex;
    flex-direction: column;
    padding: .3vw;
}

.pay{
    display: flex;
    padding: .3vw;
}
.ll{
    display: flex;
    flex-direction: column;
    width: 8vw;
    align-items: flex-start;
    gap: .35vw;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 3vw;
    gap: 1vw;
    align-items: flex-start;
    padding-top: .1vw;
}
.send{
    display: flex;
    padding: .3vw;
    width: 100%;
    justify-content: space-between;
}
@media only screen and (min-width: 0px) and (max-width:1023px){
    header{
        flex-direction: column-reverse;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccion2{
        flex-direction: column-reverse;
        align-items: center;
    }
    .sec2{
        flex-direction: column;
    }
    .p3>p{
        text-align:start;
        padding: 0;
    }
    .info{
        flex-direction: column;
        gap: 0;
        width: 50%;
    }
    #none{
        display: none;
    }
    .pag5{
        flex-direction: column;
    }
    .lista{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .list{
        padding-top: 3vw;
    }
    .pag6{
        flex-direction: column-reverse;
    }
}


